# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea

# Data folder with images
.src/data

src/model/__pycache__/

src/utils/__pycache__/

src/data_loader/__pycache__/

src/trainer/__pycache__/

src/data/toy_dataset/images/

src/data/toy_dataset/

src/saved/models/

pretrained_model/

tutorial_images/anchor_images/

tutorial_images/test_images/
